---
layout: default
---
      <h2 class="section__title">Dokumenty</h2>
      <article class="refs__links">
        {% for cathegory in site.data.documents %}
        <h3 class="refs__links__title">{{ cathegory.cathegory }}</h3>
        {% for document in cathegory.documents %}
        <a class="refs__links__link" href="{{ document.link }}"><i class="refs__links__link__download ion ion-ios-cloud-download"></i> {{ document.name }}</a>
        {% endfor %}
        {% endfor %}

        <h3 class="refs__links__title">Zrušené dokumenty</h3>
        <a class="refs__links__link" href="/documents/zrusene/volebni_rad_2018.pdf"><i class="refs__links__link__download ion ion-ios-cloud-download"></i> Volební řád (zrušen 29. 12. 2020)</a>
        <a class="refs__links__link" href="/documents/zrusene/volebni_rad_2020.pdf"><i class="refs__links__link__download ion ion-ios-cloud-download"></i> Volební řád (zrušen 12. 12. 2023)</a>
        <a class="refs__links__link" href="/documents/zrusene/jednaci_rad.pdf"><i class="refs__links__link__download ion ion-ios-cloud-download"></i> Jednací řád (zrušen 30. 9. 2019)</a>
        <a class="refs__links__link" href="/documents/zrusene/stanovy.pdf"><i class="refs__links__link__download ion ion-ios-cloud-download"></i> Stanovy (zrušeny 16. 10. 2019)</a>

        <h3 class="refs__links__title">Volby do Představenstva FIT++<br>na volební období únor 2024 až leden 2025</h3>
        <p class="refs__links__text">FIT++ vyhlašuje volby do představenstva.</p>
        <a class="refs__links__link" href="/documents/volby2024/volby-do-Predstavenstva-2024-2025.pdf"><i class="refs__links__link__download ion ion-ios-cloud-download"></i> Informace k volbám</a>
        <a class="refs__links__link" href="/documents/volby2024/volby-do-Predstavenstva-2024-2025_terminy.pdf"><i class="refs__links__link__download ion ion-ios-cloud-download"></i> Termíny voleb a volební místnosti</a>
        <a class="refs__links__link" href="/documents/volby2024/volby-do-Predstavenstva-2024-2025_kandidatky.pdf"><i class="refs__links__link__download ion ion-ios-cloud-download"></i> Kandidátky</a>
        <a class="refs__links__link" href="/documents/volby2024/volby-do-Predstavenstva-2024-2025_vysledky.pdf"><i class="refs__links__link__download ion ion-ios-cloud-download"></i> Výsledky voleb</a>

        <h3 class="refs__links__title">Doplňovací volby do Představenstva FIT++<br>na volební období únor 2023 až leden 2024</h3>
        <p class="refs__links__text">FIT++ vyhlašuje doplňovací volby do představenstva.</p>
        <a class="refs__links__link" href="/documents/volby2023-1/doplnovaci-volby-do-Predstavenstva-2023-2024.pdf"><i class="refs__links__link__download ion ion-ios-cloud-download"></i> Informace k volbám</a>
        <a class="refs__links__link" href="/documents/volby2023-1/doplnovaci-volby-do-Predstavenstva-2023-2024_terminy.pdf"><i class="refs__links__link__download ion ion-ios-cloud-download"></i> Termíny voleb a volební místnosti</a>
        <a class="refs__links__link" href="/documents/volby2023-1/doplnovaci-volby-do-Predstavenstva-2023-2024_kandidatky.pdf"><i class="refs__links__link__download ion ion-ios-cloud-download"></i> Kandidátky</a>
        <a class="refs__links__link" href="/documents/volby2023-1/doplnovaci-volby-do-Predstavenstva-2023-2024_vysledky.pdf"><i class="refs__links__link__download ion ion-ios-cloud-download"></i> Výsledky voleb</a>

        <h3 class="refs__links__title">Volby do Představenstva FIT++<br>na volební období únor 2023 až leden 2024</h3>
        <p class="refs__links__text">FIT++ vyhlašuje volby do představenstva.</p>
        <a class="refs__links__link" href="/documents/volby2023/volby-do-Predstavenstva-2023-2024.pdf"><i class="refs__links__link__download ion ion-ios-cloud-download"></i> Informace k volbám</a>
        <a class="refs__links__link" href="/documents/volby2023/volby-do-Predstavenstva-2023-2024_terminy.pdf"><i class="refs__links__link__download ion ion-ios-cloud-download"></i> Termíny voleb a volební místnosti</a>
        <a class="refs__links__link" href="/documents/volby2023/volby-do-Predstavenstva-2023-2024_kandidatky.pdf"><i class="refs__links__link__download ion ion-ios-cloud-download"></i> Kandidátky</a>
        <a class="refs__links__link" href="/documents/volby2023/volby-do-Predstavenstva-2023-2024_vysledky.pdf"><i class="refs__links__link__download ion ion-ios-cloud-download"></i> Výsledky voleb</a>

        <h3 class="refs__links__title">Volby do Představenstva FIT++<br>na volební období únor 2022 až leden 2023</h3>
        <p class="refs__links__text">FIT++ vyhlašuje volby do představenstva.</p>
        <a class="refs__links__link" href="/documents/volby2022/volby-do-Predstavenstva-2022-2023.pdf"><i class="refs__links__link__download ion ion-ios-cloud-download"></i> Informace k volbám</a>
        <a class="refs__links__link" href="/documents/volby2022/volby-do-Predstavenstva-2022-2023_terminy.pdf"><i class="refs__links__link__download ion ion-ios-cloud-download"></i> Termíny voleb a volební místnosti</a>
        <a class="refs__links__link" href="/documents/volby2022/volby-do-Predstavenstva-2022-2023_kandidatky.pdf"><i class="refs__links__link__download ion ion-ios-cloud-download"></i> Kandidátky</a>
        <a class="refs__links__link" href="/documents/volby2022/volby-do-Predstavenstva-2022-2023_vysledky.pdf"><i class="refs__links__link__download ion ion-ios-cloud-download"></i> Výsledky voleb</a>

        <h3 class="refs__links__title">Volby do Představenstva FIT++<br>na volební období únor 2021–leden 2022</h3>
        <p class="refs__links__text">FIT++ vyhlašuje volby do představenstva.</p>
        <a class="refs__links__link" href="/documents/volby2021/volby-do-Predstavenstva-2021-2022.pdf"><i class="refs__links__link__logo ion ion-ios-cloud-download"></i> Informace k volbám</a>
        <a class="refs__links__link" href="/documents/volby2021/volby-do-Predstavenstva-2021-2022_terminy.pdf"><i class="refs__links__link__logo ion ion-ios-cloud-download"></i> Termíny voleb a volební místnosti</a>
        <a class="refs__links__link" href="/documents/volby2021/volby-do-Predstavenstva-2021-2022_kandidatky.pdf"><i class="refs__links__link__logo ion ion-ios-cloud-download"></i> Kandidátky</a>
        <a class="refs__links__link" href="/documents/volby2021/volby-do-Predstavenstva-2021-2022_vysledky.pdf"><i class="refs__links__link__logo ion ion-ios-cloud-download"></i> Výsledky voleb</a>

        <h3 class="refs__links__title">Volby do Představenstva FIT++<br>na volební období únor 2020–leden 2021</h3>
        <p class="refs__links__text">FIT++ vyhlašuje volby do představenstva.</p>
        <a class="refs__links__link" href="/documents/volby2020/volby-do-Predstavenstva-2020-2021.pdf"><i class="refs__links__link__logo ion ion-ios-cloud-download"></i> Informace k volbám</a>
        <a class="refs__links__link" href="/documents/volby2020/volby-do-Predstavenstva-2020-2021_terminy.pdf"><i class="refs__links__link__logo ion ion-ios-cloud-download"></i> Termíny voleb a volební místnosti</a>
        <a class="refs__links__link" href="/documents/volby2020/volby-do-Predstavenstva-2020-2021_kandidatky.pdf"><i class="refs__links__link__logo ion ion-ios-cloud-download"></i> Kandidátky</a>
        <a class="refs__links__link" href="/documents/volby2020/volby-do-Predstavenstva-2020-2021_vysledky.pdf"><i class="refs__links__link__logo ion ion-ios-cloud-download"></i> Výsledky voleb</a>

        <h3 class="refs__links__title">Volby do Představenstva FIT++<br>na volební období únor 2019–leden 2020</h3>
        <p class="refs__links__text">FIT++ vyhlašuje volby do představenstva.</p>
        <a class="refs__links__link" href="/documents/volby2019/volby-do-Predstavenstva-2019-2020.pdf"><i class="refs__links__link__logo ion ion-ios-cloud-download"></i> Informace k volbám</a>
        <a class="refs__links__link" href="/documents/volby2019/volby-do-Predstavenstva-2019-2020_terminy.pdf"><i class="refs__links__link__logo ion ion-ios-cloud-download"></i> Termíny voleb a volební místnosti</a>
        <a class="refs__links__link" href="/documents/volby2019/volby-do-Predstavenstva-2019-2020_kandidatky.pdf"><i class="refs__links__link__logo ion ion-ios-cloud-download"></i> Kandidátky</a>
        <a class="refs__links__link" href="/documents/volby2019/volby-do-Predstavenstva-2019-2020_vysledky.pdf"><i class="refs__links__link__logo ion ion-ios-cloud-download"></i> Výsledky voleb</a>

        <h3 class="refs__links__title">Volby do Představenstva FIT++<br>na volební období únor 2018–leden 2019</h3>
        <p class="refs__links__text">FIT++ vyhlašuje volby do představenstva.</p>
        <a class="refs__links__link" href="/documents/volby2018/volby.pdf"><i class="refs__links__link__logo ion ion-ios-cloud-download"></i> Informace k volbám</a>
        <a class="refs__links__link" href="/documents/volby2018/kandidatky.pdf"><i class="refs__links__link__logo ion ion-ios-cloud-download"></i> Kandidátky</a>
        <a class="refs__links__link" href="/documents/volby2018/vysledky.pdf"><i class="refs__links__link__logo ion ion-ios-cloud-download"></i> Výsledky voleb</a>

        <h3 class="refs__links__title">Volby do Představenstva FIT++<br>na volební období únor 2017–leden 2018</h3>
        <p class="refs__links__text">FIT++ vyhlašuje volby do představenstva.</p>
        <a class="refs__links__link" href="/documents/volby2017/volby.pdf"><i class="refs__links__link__logo ion ion-ios-cloud-download"></i> Informace k volbám</a>
        <a class="refs__links__link" href="/documents/volby2017/kandidatky.pdf"><i class="refs__links__link__logo ion ion-ios-cloud-download"></i> Kandidátky</a>
        <a class="refs__links__link" href="/documents/volby2017/vysledky.pdf"><i class="refs__links__link__logo ion ion-ios-cloud-download"></i> Výsledky voleb</a>

        <h3 class="refs__links__title">Hlasování Per Rollam ohledně výroční zprávy za rok 2021</h3>
        <p class="refs__links__text">Představenstvo FIT++ schvaluje výroční zprávu FIT++ za rok 2021.</p>
        <a class="refs__links__link" href="/documents/vyrocniZpravy/vz_fitpp_2021_navrh1.pdf"</a><i class="refs__links__link__logo ion ion-ios-cloud-download"></i>Výroční zpráva</a>
        <details class="refs__links__text">
            <summary>Hashe md5 pro hlasování představenstva</summary>
            <br />
            <p class="refs__links__text">Byl použit program md5sum (GNU coreutils) 9.0</p>
            <p class="refs__links__text"><strong>Petr Šťastný:</strong> 2b8e560ec3ebf70fcd986c74a54f2aa8</p>
            <p class="refs__links__text"><strong>Jakub Horák:</strong> ae47bb3d47a0a31f17d9fe23a28cd489</p>
            <p class="refs__links__text"><strong>Damián Baraník:</strong> 03889d86abb80fc9db8917f2d1a3e068</p>
            <p class="refs__links__text"><strong>Jaroslav Kříž:</strong> 1fcb5777ecd89838c9ce588e630ae718</p>
            <p class="refs__links__text"><strong>Lukáš Hypša:</strong> 42450a2911029e2b0a273f85614664f5</p>
        </details>
      </article>
    </section>
