---
layout: home
---

<body>
  <main>
    <h1 class="title">Klub FIT++</h1>
    <section class="hello">
      <img class="hello__logo" src="{{ "assets/images/logo.svg" | relative_url }}" alt="Logo FIT++"/>
      <span class="hello__arrow"></span>
    </section>
    <section class="about">
      <h2 class="section__title">Co je FIT++?</h2>
      <p>Jsme studenti FITu ČVUT, co mají svoji fakultu rádi a chtějí ji udělat ještě lepší.</p>
      <article class="about__article">
        <h3 class="about__article__title"><i class="about__article__title__icon ion ion-ios-calendar"></i> Organizace akcí</h3>
        <p class="about__article__text">Chtěl jsi uspořádat nějakou akci, ale potřeboval bys pomoct? Nebo bys chtěl pomáhat při akcích jako je DOD či Noc vědců? Pak je FIT++ přesně pro tebe!</p>
      </article>
      <article class="about__article">
        <h3 class="about__article__title"><i class="about__article__title__icon ion ion-ios-people"></i> Společné chvíle</h3>
        <p class="about__article__text">Nebo chceš pouze na chvíli odsednout od programování a strávit pěkné chvíle s ostatními FIŤáky? Příležitostí ve FIT++ je plno!</p>
      </article>
      <article class="about__article">
        <h3 class="about__article__title"><i class="about__article__title__icon ion ion-ios-bulb"></i> Lidi s nápady</h3>
        <p class="about__article__text">Dobrých lidí s dobrými nápady je vždycky málo, a tak jsme se rozhodli, že by bylo super vás sdružovat.</p>
      </article>
    </section>
    <section class="calendar">
      <iframe class="calendar__iframe" src="https://calendar.google.com/calendar/embed?wkst=2&ctz=Europe%2FPrague&showTitle=1&showDate=1&showPrint=0&showTabs=1&showCalendars=0&showTz=1&src=Zml0cHBAc3UuY3Z1dC5jeg"></iframe>
    </section>
    <section class="refs">
      <h2 class="section__title">Přidej se k nám</h2>
      <p class="refs__scream">Pomoz nám udělat FIT lepší!</p>
      <p class="refs__scream">Napiš a přidej se k nám!</p>
      <article class="refs__links">
          <a class="refs__button" href="https://discord.gg/2Bh93cXGJ3">Přidej se do FIT++</a>
      </article>
    </section>
    <section class="refs">
      <h2 class="section__title">Kontakty</h2>
      <article class="refs__links">
        <a class="refs__links__link" href="https://facebook.com/klubFITpp"><i class="refs__links__link__logo ion ion-logo-facebook"></i> FITplusplus</a>
        <a class="refs__links__link" href="https://instagram.com/klubFITpp"><i class="refs__links__link__logo ion ion-logo-instagram"></i> @klubFITpp</a>
        <a class="refs__links__link" href="https://twitter.com/klubFITpp"><i class="refs__links__link__logo ion ion-logo-twitter"></i> @klubFITpp</a>
        <a class="refs__links__link" href="mailto:fitpp@su.cvut.cz"><i class="refs__links__link__logo ion ion-ios-mail"></i> fitpp@su.cvut.cz</a>
      </article>
    </section>
    <div class="gridlist">
      {% for post in site.posts %}
    {% include event_tile.html event=post more_text=include.more_text %}
    {% endfor %}
    </div>
    <section class="refs">
      <h2 class="section__title">Další zajímavé skupiny</h2>
      <article class="refs__links">
        <a class="refs__links__link" href="https://su.cvut.cz">Studentská unie ČVUT</a>
        <a class="refs__links__link" href="https://casopis.fit.cvut.cz/">Fakultní časopis Buď FIT</a>
        <a class="refs__links__link" href="https://seznamovak.fit.cvut.cz/">Seznamovák FIT</a>
        <a class="refs__links__link" href="https://magistrovak.fit.cvut.cz/">Magistrovák FIT</a>
      </article>
    </section>
    <section class="refs">
  </main>
</body>
</html>
